<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/beer.css">
  <title>Beer</title>
</head>
<body>
  <div class="container">
    <nav>
    <a href="/">Home</a>
    <a href="/beers">My List of Beer</a>  
  </nav>
    <%= yield %>
  
  </div>
  
</body>
</html>