<!-- I need to create a form
this form needs to have 5 or so fields for each of the cocktail categories
each field has a name, an input text, possibly required
finally I need a submit button .

this form, needs to have I think a type of post and needs to be posted back to /cocktails ... Here we go -->

<h1>coming soon</h1>


<form class="" action="/cocktails" method="post">

  <label>Name:
    <input type="text" name="name" placeholder="Vesper Martini" required>
  </label>

  <label>Base Spirit:
    <input type="text" name="base_spirit" placeholder="Gin" required>
  </label>

  <label>Ingredients:
    <input type="text" name="ingredients" placeholder="vodka, Lillet Blanc, sliver of lemon peel">
  </label>

  <label>Recipe:
    <input type="text" name="recipe" placeholder="shaken not stirred">
  </label>

  <label>Image:
    <input type="text" name="image" placeholder="https://...">
  </label>


  <button type="submit" name="button">Add Cocktail</button>

</form>
