<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/cocktails.css">
  <title>Cocktails</title>
</head>

<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/cocktails">Cocktails</a>
      <a href="/cocktails/new">New Cocktail</a>
    </nav>
    <h1>PDT's Official Bible of Cocktails</h1>

    <%= yield %>

  </div>
</body>
</html>
