<h1>Ask the Magic 8 Ball a question</h1>

<form action="/eightball/results">
  <label>
    <input type="text" name="question" required placeholder="ask a question">
  </label>
  <button>Ask</button>

</form>
