header {
}

body {
  background-image: url("images/bg_wrapper.png");
  background-position: top;
  background-size:contain;
  margin-left: 20px;
  margin-right: 30px;
}
footer {
  background-color: black;
}
nav p {
  color: white;
  display: inline-block;
  padding: 30px;
  margin-left: 0;
  margin-top: 0;

}
nav p:hover {
  background-image: url("images/bg_nav_rollover.png");
  background-size: contain;
}
img {
  display: inline-block;
}


a {
  display: inline-block;
}

#socialMedia ul {
  position: absolute;
  top: 125;
  left: 690;
}

#socialMedia ul li {
    display: inline-block;
    width:60px;
    height:60px;
    text-indent:-9999em;
    background-position:right;
}



#socialMedia ul li.linkedIn {
	background:url(images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(images/socialNav.png) -180px 64px;
}

#socialMedia ul li.linkedIn:hover {
	background:url(images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(images/socialNav.png) -180px 0px;
}
