/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
  background-color: #ffffff;
}

h1 {
  color: #9b9c9c;
  font-size: 32px;
}

#container {
  margin: 0 72px;
  width: 960px;
}

img.home {
  display: block;
  margin: 0 0 5px 0;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

img:only-child {
  border: solid;
  border-color: #cfcfcf;
}

ul {
  margin: 0;
  padding: 0;
}
