<p>Challenge the computer to a game of rock, paper, scissors!</p>


<form class="" action="/rock_paper_scissors/result.html" >
  <label>
    What is your guess?
  </label>
  <input type="text" name="guess" placeholder="Dwayne Johnson" required>

  <button>See if you won...</button>

</form>
