<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/design.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/pokedex">Pokedex</a>
      <a href="/pokedex/new">Who's that Pokemon?</a>
    </nav>
      <%= yield %>
  </div>
</body>
</html>
