<h2>Who's that Pokemon?</h2>

<form action="/pokedex" method="post">

  <label for="name">
      Name:
      <input name="name" placeholder="Pokemon" required>
  </label>

  <label for="type">
      Type:
      <input name="type" placeholder="Grass" required>
  </label>

  <label for="description">
      Description:
      <input  name="description" placeholder="This pokemon...">
  </label>

  <label for="image">
      Image:
      <input type="url" name="image" placeholder="http://" required>
  </label>
</form>
