<h1>Games on Rails</h1>

<p>
  Choose the game you want to play:
</p>

<p><a href="magicball">Magic 8 Ball</a></p>
<p><a href="secretnumber">Secret Number</a></p>
<p><a href="rockpaperscissors">Rock Paper Scissors</a></p>
