<h1>a big fuckin form, make a new ocean </h1>
<h3>hideous form to follow</h3>

<form class="" action="<%= oceans_path %>" method="post">

  <label>
    Name:
    <input type="text" name="name" required placeholder="Linus Caldwell">
  </label>

  <label>
    Age:
    <input type="integer" name="age" placeholder="35">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="https://www...">
  </label>

  <label>
    Hustle:
    <input type="text" name="hustle" placeholder="Light fingered">
  </label>

  <button>Add new</button>


</form>
