<h1>Welcome to Rails Games</h1>

<p>Which game would you like to play?
  <nav>
    <a href="/magic_8_ball">Magic 8 Ball</a>
    <a href="/secret_number">Secret Number</a>
    <a href="/rock_paper_scissors">Rock Paper Scissors</a>
  </nav>
</p>
