<form action="/found_book" >
  <p>Please enter the book name you're looking for and we will display the right information for you</p>

  <input name="books" placeholder="The Princess Bride" required>
  <button name="button">Continue</button>
</form>
