<h1>Stock Market Calculator</h1>
<h2>Here is a lsit of stock codes and their company</h2>
<ul>
  <li>AAPL (Apple)</li>
  <li>MSFT (Microsoft)</li>
  <li>TSLA (Tesla)</li>
</ul>
<form action="/result">
Stock Code:
<input name="code" placeholder="Stock Code" required>
<button>Get Price!</button>
</form>
