@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&display=swap');

#bug {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.7rem;
    color: rgb(94, 167, 94);
}
div{
    text-align: left;
}
#track {
font-family: 'Press Start 2P', cursive;
color: lightseagreen;
}

button.small-btn {
    padding: 3px 8px;
    margin-top: 5px;
}


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

  header{
      text-align: center;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
      text-align: center;
      width: 100%;
      background-color: red;
  }

  span.description-small{
    display: inline-block;
    width: 80%;
    max-height: 100px;
    overflow: hidden;

    text-overflow: ellipsis;
  }

body{
    width: 100%;
    margin: 0;
}