<h2>Magic 8 Ball Game</h2>

<form action="/magicball/result">
  <label>
    Enter your question:
    <input type="text" name="question" value="Should I go shopping?">
  </label>
  <button>Gain Result</button>
</form>
