<h1>Magic 8 Ball Game!</h1>

<form action="/magicball/magicball_result">
  <label>
  Whats your question?:
  <input type="search" name="magic_ball" required placeholder='Ask me something!'>
  </label>
  <button>SHAKE!</button>
</form>