<h1>Rock Paper Scissors!</h1>
  <form action="/rock_paper_scissors/rock_paper_scissors_result">
    <label>
      Rock Paper or Scissors!:
      <input type="search" name="rps" required placeholder="Rock...Paper...Scissors">
    </label>
  <button>SHOOT!</button>
</form>