<h1>Guess the Secret Number!</h1>
  <form action="/secretnumber/secret_number_result">
    <label>
      Guess The Secret Nubmer!:
      <input type="search" name="guess" required placeholder="What Number is it?">
    </label>
  <button>GUESS IT!</button>
</form>