<h1>New Keyswitch</h1>

<form action="/keyswitches" method="post">
  <label>
    Name:
    <input name="name" placeholder="Black" required>
  </label>

  <label>
    Brand:
    <input name="brand" placeholder="Cherry MX">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create KeySwitch</button>
</form>
