<h1>Search result: </h1>

<img src="<%=@cover%>" alt="book cover">

<div class="title"><%=@title%></div>

<div class="author"><%=@author%></div>

<div class="link">
  <a href="<%= @buy_link%>">Buy here</a>
</div>
