* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: auto; /*horizontal centering*/
  padding: 1em;
  border-bottom-left-radius:3%;
  border-bottom-right-radius: 3%;
  background-image: url(math.png);

}

nav {
  border-radius: 2em;
  padding-bottom: 0;
  margin: 20px 40px;
  display: inline;
  height: auto;
  box-shadow: 2px 2px black;
  text-align: center;
}

nav img.norbert {
  width: 21%;
  background-blend-mode: lighten;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  box-shadow: 0 0 4px #000000;
}

nav img.cybernetics {
  width: 22%;
  background-blend-mode: lighten;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-top: 0;
  position: right;
  box-shadow: 0 0 4px #000000;


}

nav a {
  padding-left: 3px;
  padding-right: 3px;
  border: 2px groove black;
  color: black;
  flex: auto;
  text-decoration: none;
}

.color {
  background-color: blue;
  color: yellow;
}

nav a:hover {
  background-color: blue;
  color: yellow;
}

h1 {
  margin: 20px 50px;

}

main {
  margin: 20px 50px;
  width: 70%;
  height: 50%;
  display: flex;
}


main .paragraph {
  width: 70%;
  vertical-align: top;
  padding-right: 1em;
}

.catsparagraph {
  text-align: center;
  opacity: 0;
}
.catsparagraph:hover {
  color: yellow;
  background-color: black;
  text-align: center;
  opacity: 1;
}

main h2 {
  text-align: right;
}

main .FavoriteFoods {
  border: 2px ridge;
  border-color: grey;
  border-radius: 5%;
  position: relative;
  left: 30%;
  height: 70%;
  margin-top: 10px;
}

.smallerdiv {
  width: 80%;
}

div h3 {
  text-align: center;
}

.video iframe  {
  width: 100px;
  height: 50px;
  background-color: #777;
  display: block;
}

footer {
  margin: 20px;
  background-color: lightgrey;
  padding: 1px;
  display: inline-block;
  width: 95%;
}

footer div{
  display: inline-block;
  position: relative;
  padding-left: 10px;

}
footer div img{
  max-height: 30px;
  position: absolute;
  left: 10.5em;
  bottom: -0.5em;
}
