/* * {
  border: 1px solid black;
} */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  background-color: #444444; /* as long as it has the same amount of all colors, it will be a type of grey */ /* #rgb => gets expanded to => #rrggbb */
  /* Get rid of the default padding & margin */
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  background-color: #ddd;
  margin: auto;
  padding: 0.5em;

}

nav {
  text-align: right;
}

  nav a {
    color: #444444;
  }

h1 {
  text-align: left;
  margin-left: 1em;
}

.hr {
  opacity: 0%;
}

main {
  display: inline-block;
  width: 75%;
  margin-left: 33px;
}

  main h2 {
    font-weight: bold;
  }

  main img {
    margin: auto;
    width: 50%;
    height: auto;
    display: block;
    border-radius: 0.4em;
  }

h3 {
  margin-top: 40px;
}

.trivia {
  width: 55%;
}

aside {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

/* Pseudo-Selector: only applies when you hover over this class */
.NSFW {
  visibility: hidden;
}

.NSFW:active {
  color: red;
  visibility: visible;
}

.nsfwhide {
  visibility: visible;
  list-style: none;
}

.nsfwhide:active {
  visibility: hidden;
}

.iframetrivia {
  margin: auto;
  width: 900px;
  height: 500px;
  display: block;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.space {
  visibility: hidden;
  width: 300px;
  height: 90px;
  border: 1px solid;
}
