<h2>Magic 8 Ball</h2>

<p>Ask a question then consult the ball!</p>

<form action="/magic/answer">
  <label>
    Ask your question:
    <input type="text" name="magic_answer" required placeholder="Will I be rich?">
  </label>
  <button>Consult the Ball</button>
</form>
