<h2>New Pokemon</h2>

<form action="/pokemons" method="post">
  <label style="display: block; margin: 10px">
    Name:
    <input name="name" required>
  </label>
  <label style="display: block; margin: 10px">
    Image:
    <input type="url" name="image">
  </label>
  <label style="display: block; margin: 10px">
    Type:
    <input type="text" name="type">
  </label>

  <button type="submit">CREATE PLANET</button>
</form>
