@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
body {
    font-family: 'Chelsea Market';
    margin: 0px;
  }

.headerImage{
    display: absolute;
    visibility: hidden;
    
    padding-top: 100px;
    width: 200px;
    margin: -50px 43%;
}

.mainImage{
    position: absolute;
    width: 580px;
    margin: 10px 14%;
}

.playerX{
    position: absolute;
    visibility: hidden;
    
    margin-top: 0;
    padding-top: 50px;
    margin-left: 20%;
    color: white;
    text-shadow: 1px 1px lightgray;
}

.playerXmain{
    display: absolute;
    margin-top: 0;
    padding-top: 250px;
    margin-left: 100px;
    color: white;
    text-shadow: 1px 1px lightgray;
}

.avatarX{
    
    display: inline-grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px ;
    grid-gap: 3px;
    margin-left: 120px;
}

.playerO{
    position: absolute;
    visibility: hidden;
    margin-top: -10px;
    
    margin-left: 70%;
    color: white;
    text-shadow: 1px 1px lightgray;
}

.playerOmain{
    display: absolute;
    margin-top: -100px;
    padding-top: 50px;
    margin-left: 70%;
    color: white;
    text-shadow: 1px 1px lightgray;
}

.avatarO{
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px ;
    grid-gap: 3px;
    margin-left: 780px;
    margin-top: -450px;
}

.start{
    display: absolute;
    margin-top: -550px;
    margin-left: 40%;
    width: 20%;
}
.resetScore{
    position: absolute;
    margin-top: -500px;
    visibility: hidden;
    margin-left: 450px;
    width: 180px;
    
}
  
.wrapper {
    display: inline-grid;
    grid-template-rows: 180px 180px 180px;
    grid-template-columns: 180px 180px 180px;
    grid-gap: 3px;
    margin-left: 25%;
    margin-top: 50px;
    box-shadow: 0 80px 60px 0px black;
    border-radius: 5px;
}

.box, .avatar {
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;
    border-radius: 5px;
}

.finish{
    
    margin-top: -500px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px black;
    font-size: 2px;
    transition: font-size 1s;
    display: absolute;
}

nav{
    color: white;
	background-color: black;
    height: 150px;
    
}

.container, .container1{
    width: 1080px;
    margin: 0 auto;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 80px 60px 0px black;
    border-radius: 0 0 10px 10px;
    height: 850px;
}

.container{
    display: none;
}

.restart{
    display: block;
    margin: 50px auto;
    width: 0%;
    transition:width 1s;
}

.button:hover{
    transform: scale(1.1);
}

.exit{
    position: absolute;
    margin-left: -350px;
    margin-top: 650px;
    width: 150px;
}

.x1{
    background-image: url(../images/x1.png);
    border: 4px solid red;
}


.x2{
    background-image: url(../images/x2.png);
}

.x3{
    background-image: url(../images/x3.png);
}

.o1{
    background-image: url(../images/o1.png);
    border: 4px solid red;
}

.o2{
    background-image: url(../images/o2.png);
}

.o3{
    background-image: url(../images/o3.png);
}