<form action="/result">
    <label>
    Search a book: 
    <input type="text" placeholder="Lord of the Flies" name="symbol" required> <!-- params[:symbol] -->
    <button>Find the book</button>
    </label>
</form>