<h2>New Girls</h2>

<form action="/girls" method="post">
  <label>
    Name:
    <input name="name" placeholder="Aleks..." required >
  </label>
  <label>
    Height(cm):
    <input name="height" placeholder="160" >
  </label>
  <label>
    Weight(kg):
    <input name="weight" placeholder="50" >
  </label>
  <label>
    Hair Color:
    <input name="hair_color" placeholder="brown" >
  </label>
  <label>
    Skin Color:
    <input name="skin_color" placeholder="white" >
  </label>
  <label>
    Image
    <input name="image" placeholder="http://..." >
  </label>


  <button>Create a girl</button>
</form>
