<h2>Guess the Secret Number</h2>

<form action="/secret_number/game">
  <label>
    Enter the maximum number range:
    <input type="text" name="secret_number_game" required placeholder="100">
  </label>
  <button>Generate Game!</button>
</form>
