<h3>Guess a number between 0 and <%= @high_num %></h3>

<form action="/secret_number/game/compute">
  <label>
    Enter your guess:
    <input type="text" name="guess" required placeholder="20">
  </label>
  <button>Guess</button>
</form>

<h3><%= "Correct!" if @current_guess == @zer_to_inp %></h3>
