<h2>Add a new Butterfly</h2>

<form action="/butterflies" method="POST">

    <label>
        Name:
        <input name="name" type="text" placeholder="Butterfly Name Here" required>
    </label>

    <label>
        Family:
        <input name="family" type="text" placeholder="Butterfly Family Here">
    </label>

    <label>
        Image:
        <input name="image" type="url" placeholder="http://...">
    </label>

    <button>Add it!</button>

</form>