<h1>Games!Games!Games!</h1>
<h2>Enough games to give the developer carpal tunnel!</h2>
<nav>
<a href="/magic8ball">/magic8ball</a>
<a href="/secretnumber">/secretnumber</a>
<a href="/rockpaperscissors">/rockpaperscissors</a>
</nav>