<h2>Add List</h2>

<form action="/bucketlist" method="post">
  <label>
    Name:
    <input name="name" placeholder="Learn to Surf" required>
  </label>

  <label>
    Place:
    <input name="Place" placeholder="Byron Bay">
  </label>

  <label>
    Image:
    <input name="Image" placeholder="http://...">
  </label>

  <button>Add List</button>
</form>
