<h1>My Bucket List in Australia</h1>

<img src="https://i.pinimg.com/originals/6b/9b/23/6b9b23d78f24a3796285233ab2bf7b4b.png" alt="map of Australia">

<p>Here are some things I wanted to do when I arrived in Australia. I haven't done any of them so far due to lockdown, but hopefully I can start ticking them off from the list soon!  </p>
