<h2>Welcome to the home page.</h2>
<form action="/result">
    <label for="">Enter book title:  </label>
    <input type="text" placeholder="Book title" name="book_name">
    <button type="submit">Search For Book</button>

</form>