<h2> New Beers </h2>

<form action="/beers" method="post">
  <label>
    Name:
    <input name="name" placeholder="West End" required>
  </label>

  <label>
    Family:
    <input name="family" placeholder="Stout">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button> Make like Dan Andrews </button>

</form>
