<h1>
    Welcome to Tech Web
</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta repudiandae cum aliquid, architecto et, labore quo, temporibus alias officiis dicta facilis natus molestiae veniam quae impedit voluptate tempore numquam?
</p>