<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Technologies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSv2_9KapcPsUFLGCci9TvQ_Or7lW0-x7NJbGB94fpaSG_d-Q3C&usqp=CAU" />
    <link rel="stylesheet" href="/css/tech.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <a href="/" >Home</a>
            <a href="/tech" >All Technolies</a>
            <a href="/tech/new">New page</a>
        </nav>
        <%= yield %>
    </div>

</body>
</html>