<h2>New Product</h2>
<form action="/tech" method="post">
    <label>
    Name:
        <input name="name" placeholder="name" required>
    </label>

    <label>
    Category:
        <input name="category" placeholder="category">
    </label>

    <label>
    Image:
        <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Add a new product</button>
</form>