<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug tracker</title>
    <%# stylesheets %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <nav>
            <div class="logo header">
            <span id="bug">BUG</span><span id="track">Tracks</span>
</div>
<div class="links header">
            <a href="/new">New bug</a>
            <a href="/">View Bugs</a>
</div>
        </nav>
    </header>

    <main>
        <%= yield %>
    </main>
    <footer>
        <h3>Made with ❤ by Joshua McDonald</h3>
    </footer>
</body>

</html>