<h2> Submit a new bug </h2>
<form action="/new" method="post">
    <label for="">User Name:</label>
    <input type="text" name="user_name" placeholder="Enter your username" required>

    <label for="">Enter a title:</label>
    <input type="text" name="title" placeholder="Enter a short title" >

    <label for="">Descriptuion:</label>
    <input type="text" name="description" placeholder="Describe the bug" required>

    <button>Submit Bug</button>
</form>