<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
</head>
<body>
    <h1>
        <%= price[0].symbol %>
    </h1>
    <h2>  
        Last Sale Price: $<%= price[0].lastSalePrice %> 
    </h2>
    <p>Bidding Price: $<%= price[0].bidPrice %> </p>
    <p>Asking Price: $<%= price[0].askPrice %>  </p>
</body>
</html>