#container {
  width: 960px;
  margin: 10px auto;
}

body {
  font-size: 12px;
  line height: 17px;
  font-family: "Times New Roman", serif;
  color: #c0c0c0
}

header {
  color: grey;
  font-size: 30px;
  padding: 20px 0 10px 5px;
}

h1 {
  font-size: 15px;
  color: black;
}

h3 {
  color: #44bcd8;
}

a:hover {
  color: red;
}

.bottomimages {
  position: relative;
  text-align: center;
  padding: 15px;
}

.bottomimages img {
  border: 3px solid #c0c0c0;
  box-sizing: border-box;
}

/*

Link Hover Color = #c0c0c0

*/
