<h3>Feel free to edit a character below</h3>

<form action="/characters" method="post">

  <label for="name">
    Name:
    <input  name="name" placeholder="Goku" required >
  </label>

  <label for="powerlevel">
    Power Level:
    <input  name="power_lvl" placeholder="Over 9000" required >
  </label>

  <label for="race">
    Race:
    <input name="race" placeholder="Human" required>
  </label>

  <label for="image">
    Show us an image!
    <input name="image" placeholder="http://">
  </label>

  <label><button>Add to training!</button></label>

</form>
