<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/design.css">
  <title>Document</title>
</head>
<body>
    <div class="container">
      <a href="/">home</a>
      <a href="/characters">Current Characters</a>
      <a href="/characters/new">Add Character</a>
      <%= yield %>
    </div>
</body>
</html>
