<h2>Pick a game!</h2>

<ul>
  <li>
    <a href="/8ball">Magic 8-Ball</a>
  </li>
  <li>
    <a href="/number">Secret Number</a>
  </li>
  <li>
    <a href="/rps">Rock Paper Scissors</a>
  </li>
</ul>
