<h1>Magic 8 Ball</h1>

<p>Ask a question, and the magic 8 ball will give you your answer.</p>

<form class="" action="/magic_8_ball/result.html" >
  <label>
    Your question:
  </label>
  <input type="text" name="" value="" placeholder="Will I get Covid-19?" required>

  <button>Your answer...</button>

</form>
