body {
  margin: 0 auto;

}
.container {
  max-width: 960px;
  min-height: 500px;
  margin: auto;
  background-color: honeydew;
  text-align: center;
}

.feature {
  width: 80%
}

ul {
  list-style-type: none;
}

label {
  display: flex;
  justify-content: center;
}
