<h1>Secret Number</h1>

<form action="secretnumber/result">
  <label>
    <p>Choose one number among 1 to 10!</p>
    <input type="number" name="number" required>
    <button>Choose</button>
  </label>
</form>
