#container {
  width: 950px;
  margin: 0 auto;
}

body {

}
.header {
  background: black;
  width: max;
}

.articles {
  display: inline;
  width: 33%;
  padding: 15px 0px 15px 0px;
}

div.articles p {
  width: 30%;
}

li {
  display: inline-block;
  background: black;
  color: white;
  margin: 25px 30px 25px 20px;
  font-size: 15px;
}

#quote_button {
  margin: 0 0 10px 100px;

}

#socialMedia {
	float: right;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}



#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}
