.container {
  max-width: 960px; /* lazy responsice container */
  background-color: white;
  margin: auto; /* Horizontal centering */
}

nav {
  background-color: rgb(1, 1, 16);
  overflow: hidden;
  margin-bottom: 15px;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  color: white;
}
