<h1>Congratulations for your new property!</h1>

<form action="/properties">
  <label>Name: </label>
  <input name="name" placeholder="Pall Mall" required>

  <label>Monopoly: </label>
  <input name="monopoly" placeholder="Pink">

  <label>Rent: </label>
  <input name="rent" placeholder="10">

  <label>Image: </label>
  <input name="image" placeholder="http://...">

  <button>Buy!</button>
</form>
