<h1>Book search!</h1>

<form class='pure-form pure-form-stacked' action="/result">
  <label>Book title:</label>
  <input placeholder='Fahrenheit 451' name='book_title' required>

  <button class="pure-button pure-button-active">Search</button>
</form>
