<h1>Games on Rails</h1>

<p>Let's play <a href="/magiceight">Magic 8 Ball</a></p>
<p>Let's play <a href="/secretnumber">Secret Number</a></p>
<p>Let's play <a href="/rockpaperscissors">Rock Paper Scissors</a></p>
