body{
  background-image:url(image/bg_body.jpg); /*not working*/
}

.container {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
}

.wrapper {  /* ????????? */
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width:1160px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
  }

nav ul {
  list-style: none;
  margin: 0;
  padding: 20px;
  background-color: black;
}
nav li {
  display: inline;
  padding: 20px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul li:hover{
  background-color: grey;
  /* hover effect:  images/bg_nav_rollover.png*/
}

.firstline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}

/*-------------------------------------------------*/
#socialMedia {
  padding-right: 5px;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}

#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}
/*-------------------------------------------------*/

img.banner{
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  /* to remove gap, box-shadow: 0 40px 20px -30px black; */
}

.middle{
  border-style: inset;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

p.middle_text, p.middle_button{
  padding: 10px;
  margin: 0;
}

.homeboxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  font-weight: normal;
}

main img{
  border: solid 5px lightgray;
}

main{
    width: 290px;
}
main a{
  text-decoration: none;
  color: blue;
}

.info, .last{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  color: white;
}

.info_mid{
  width:500px;
}

footer h3{
  font-weight: normal;
  padding: 0 0 5px 0;
  border-bottom: solid 1px gray;
}

footer ul{
  list-style: none;
  padding-left: 0;
}

footer a{
  text-decoration: none;
  color: gray;
  display: inline-block;
  padding: 5px;
  border-bottom: solid 1px gray;
}

.last_left, .last_right{
  color: gray;
  font-size: 12px;
}
