<h1>Welcome to Book Finder</h1>
<form action="/bookinfo">
  <label>
    Please enter the book you want info on:
    <input type="text" placeholder="TheHobbit" name="book" required>
  </label>
  <button>Get Info!</button>
</form>
