@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Roboto Slab, serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  position: relative;
}

nav {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 42px;
}

nav a {
  display: inline-block;
  margin-right: 60px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}

h1 {
  display: inline-block;
  text-align: left;
  font-size: 40px;
}

.rule{
  border-color: black;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 3px;
}

.quotecont {
  margin-top: 170px;
}

.box {
  background-color: black; /* This box is to move the quote to the right */
  width: 300px;
  height: 300px;
  border: 1px black;
  display: inline-block;
  visibility: hidden;
}

.quote {
  font-size: 38px;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
}

.rule.light{
  border-width: 2px;
}

h3.marki {
  margin-bottom: 0;
}

img.marki {
  width: 100%;
}

.biocont {
  margin-top: 100px;
}

.bio {
  visibility: visible;
  width: 330px;
  height: 300px;
  display: inline-block;
  font-size: 85px;
}

.end {
  width: 42%;
  margin: 10px auto;
  display:block;
  border-radius: 5px;
}

footer {
  max-width: 1500px;
  background-color: black;
  height: 200px;
  text-align: center;
}

.footercont {
  width: 500px;
  margin: 0 0 0 457px;
}

footer a {
  text-decoration: none;
  margin-top: 20px;
  margin-right: 60px;
  font-size: 20px;
  color: white;
  display: inline-block;
  text-align: center;
}

h1.foot {
  color: white;
  display: block;
  text-align: center;
}
