<h1>Secret Number Guesser</h1>

<p>The computer is thinking of a number between 1-10. Guess right and you win!</p>


<form class="" action="/secret_number/result.html" >
  <label>
    What is your guess?
  </label>
  <input type="integer" name="guess" placeholder="7" required>

  <button>See if you won...</button>

</form>
