/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565
}

#container {
  width: 950px;
  margin: 0 auto;
}

.press {
  border: 5px solid #cccccc;
  margin: 0 0 5px
}

.date {
  color: #3e90c6;
}

p.content {
  letter-spacing: 0.5px;
  line-height: 2;
}

h1{
  font-size: 44px;
}
